# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Pytest
.pytest_cache/

# Migrations cache
alembic/versions/__pycache__/
